body{
    background: black;
}
.weather{
    padding: 10px 40px 0px 40px;
    color: rgb(248, 178, 227);
}

.container{
    margin-top: 10px;
   
}
.jokes{
    width: fit-content;
    padding: 50px;

    height: fit-content;
    border-radius: 20px;
    background-color: pink;
}
h1{
   text-align: center;
   color: aliceblue;
}
h5{
    text-align: center;
   color: aliceblue;
}